@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Professor @ViewData["Professor"]
</p>

<adress>
    <strong>More information: </strong> <a href="https://devsuperior.com.br/">devsuperior.com.br</a>
</adress>
